spring:
  application:
    name: ecommerce
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
    hikari:
      pool-name: PoolHikari
      minimum-idle: 5          # conexões mínimas ociosas
      maximum-pool-size: 20      # tamanho máximo do pool
      connection-timeout: 20000   # tempo máximo para conseguir uma conexão
      idle-timeout: 10000
      auto-commit: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        jdbc.batch_size: 25
        order_inserts: true
        order_updates: true

  servlet:
    multipart:
      max-file-size: 10000KB
      max-request-size: 10000KB
      enabled: true

  session:
    jdbc:
      cleanup-cron: "0 0 4 * * *"

  transaction:
    rollback-on-commit-failure: true

  flyway:
    enabled: true
    baseline-on-migrate: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${APP_EMAIL}
    password: ${APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  servlet:
    context-path: /ecommerce
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json,application/xml,application/xhtml+xml,application/rss+xml,application/atom+xml,application/x-font-ttf,application/x-font-opentype,application/vnd.ms-fontobject,image/svg+xml
    min-response-size: 1024
  tomcat:
    max-connections: 2000
    min-spare-threads: 50
  http2:
    enabled: true
  error:
    include-message: ALWAYS
    include-binding-errors: always

jwt:
  private-key-path: classpath:keys/private.pem
  public-key-path: classpath:keys/public.pem
